<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.1.5" targetFramework="net45" />
  <package id="Automatonymous" version="1.2.0" targetFramework="net45" />
  <package id="Automatonymous.MassTransit" version="1.2.0" targetFramework="net45" />
  <package id="Magnum" version="2.1.1" targetFramework="net45" />
  <package id="MassTransit" version="2.9.0" targetFramework="net45" />
  <package id="MassTransit.Autofac" version="2.9.0" targetFramework="net45" />
  <package id="MassTransit.Courier" version="2.9.0" targetFramework="net45" />
  <package id="MassTransit.RabbitMQ" version="2.9.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="5.0.8" targetFramework="net45" />
  <package id="RabbitMQ.Client" version="3.2.1" targetFramework="net45" />
  <package id="Taskell" version="0.1.2" targetFramework="net45" />
  <package id="Topshelf" version="3.1.2" targetFramework="net45" />
</packages>